ul {
  list-style-type: none;
}

li {
  padding-bottom: 10px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 35px;
}

p {
  font-size: 20px;
}

code {
  font-size: 25px;
}

#trafficLight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}

#colorGreen {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}

#colorYellow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}

#colorRed {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
}